@inherits LayoutComponentBase

<div style="max-height:100dvh;overflow-y:hidden;display:flex;flex-direction:column;">
@Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
