<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="XmasClock.styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="@InteractiveWebAssembly" />
    <script type="module">
        import { snowflakeCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";

        new snowflakeCursor();
    </script>
    <script src="_framework/blazor.web.js"></script>
    <script src="snowstorm.js"></script>
    <script src="_content/BlazorAnimation/blazorAnimationInterop.js"></script>

</body>

</html>
