    <div class="tree">
    </div>
    <div class="ornament large orange or1">
        <div class="shine"></div>
    </div>
    <div class="ornament medium blue or2">
        <div class="shine"></div>
    </div>
    <div class="ornament small green or3">
        <div class="shine"></div>
    </div>
    <div class="ornament small pink or4">
        <div class="shine"></div>
    </div>
    <div class="ornament large purple or5">
        <div class="shine">
        </div>
    </div>
    <div class="ornament medium purple or6">
        <div class="shine"></div>
    </div>
    <div class="ornament medium blue or7">
        <div class="shine"></div>
    </div>
    <div class="ornament large pink or8">
        <div class="shine"></div>
    </div>
    <div class="ornament medium orange or9">
        <div class="shine"></div>
    </div>
    <div class="ornament medium green or10">
        <div class="shine"></div>
    </div>
    <div class="ornament large pink or11">
        <div class="shine"></div>
    </div>
    <div class="ornament blue large or12">
        <div class="shine"></div>
    </div>
    <div class="star-light"></div>
    <div class="star"></div>
    <div class="star-highlight"></div>
    <div class="trunk"></div>
    <div class="floor"></div>