<footer class="footer">
    <div style="display:flex;">
        🎄 Tom Brewer 🎁 2023
        <a href="https://github.com/thatplatypus/XmasClock" target="_blank" style="margin-left:0.5rem;"><span class="github"></span></a>
    </div>
</footer>